.back-arrow {
	position:absolute;
	opacity:0;
	left:0;
	top:0;
	color:white;
	padding: 20px;
}

.back-arrow a {
	color:white;
	z-index:1;
}

.blackboard{
	background-color:black;
	color:white;
	height:100vh;

}

.text-box-large{

}