footer {
    text-align: right;
    color:white;
    font-size: 12px;
    position: absolute;
    bottom:0;
    right:0;
    padding: 20px;
}

.main_parent{
  background-color: black;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}
.glass-cockpit{
  height:50vh;
  z-index:5;
  overflow:hidden;
  padding:0;
  filter: grayscale(1);

}

.glass-cockpit img:{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glass-cockpit:hover{
  transition: .5s ease;
  filter: grayscale(0);
}

.center-logo{
  position: absolute;
  width:400px;
  height:400px;
  margin: 0 auto;
  z-index: 10;
  left:50%;
  top:50%;
  margin-top: -200px;
  margin-left: -200px;
  border-radius:50%;
  border: 10px solid white;
  background-color: rgba(0,0,0,0.5);
  transition: ease 1.25s;
}
.mylogo{
  position:absolute;
  top:0;
  bottom:0;
  vertical-align: middle;
  max-width: 100%;
  top:40%;


}
.fit-image{
  size:auto;
  width:100%;
  max-width:100%;
  min-height: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.my-menu{
  background-color: black;
  text-align: center;
  opacity:0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index:12;
  position:absolute;

}
.my-menu a {
  visibility: hidden;
}

.my-menu:hover {
  transition: .5s ease;
  opacity:1;
  vertical-align: middle;

}
.my-menu:hover a{
  visibility: visible;
  color:white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 25px;
  vertical-align: middle;
}
.profile-card{
  background-color: black;
  padding: 0px;
  margin-left: 0px;
  overflow:hidden;
}
.profile-card img{
  min-height:100%;
  min-width:100%;
  display:grid;
  flex-shrink:0;
  overflow:hidden;
}


.text-card{
    color:white;
    text-align: center;
    padding: 10px;
    flex-wrap: nowrap;
    margin:auto;
    z-index:1;
}

.contain-flex{
  display: flex;
}

.fix-center{
    position:absolute;
    top:40vh;
    transition:ease 0.8s;
    margin:auto;
    width:100%;
    text-align:center;
    z-index:2;
}

.row{
  overflow: hidden;
}

.on-glass{
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
  max-height: 100%; 
  border:none; 
  border-radius: 0%;
}

.on-glass p,h1,h2{
  color:white;
  background-color: rgba(0,0,0,0.7);
  padding:10px;
}


.carousel-item {
  overflow:hidden;
  height:60vh;
  
}

.container-fluid {
  padding-bottom:10px;
  background-color: black;
  overflow:hidden;
}

.invisable{
    visibility: hidden;
    transition: ease .6s;
}

.visable {
    visibility: visible;
}

.open-top{
    transform: translate(0,-35%);
}

.open-bottom{
    transform: translate(0,35%);
}

.open-and-shrink{
    transform: translate(0,35%) scale(0.7);
}

.top-door{
  transition: ease 1.2s;
}

.bottom-door{
  transition: ease 1.2s;
}



