footer {
    text-align: right;
    color:white;
    font-size: 12px;
    position: fixed;
    bottom:0;
    right:0;
    padding: 0px 20px;
}

.back-arrow {
	position:fixed;
	opacity:0;
	left:0;
	top:0;
	color:white;
	padding: 20px;
	background-color: rgba(0,0,0,0.3);
	z-index: 100;
}

.back-arrow a {
	color:white;
}


.blackboard{
	background-color:black;
	color:white;
	height:100%
}

.carousel{
	height:100%;
}

.carousel-indicators li{
	width:10px;
	height:10px;
	border-radius:50%;
}


.eye-glass {
	width:370px;
	height:370px;
	background-color:white;
	border-radius:50%;
	overflow:hidden;
	padding:0px;
	margin-top:20px;
	margin-bottom:20px;
}


.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 100%;
    min-height: 100%;
    max-width:120%;

}


.flood {
	flex-shrink: 0;
    flex-grow: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 120%;
}

.over-me {
	padding:10px;
	color: white;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgb(0,0,0,0.7);
	vertical-align: center;
	font-size:13px;
	text-overflow: wrap;
	vertical-align: middle;
}

.over-you{
	padding: 150px 10px;
	color: white;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: .5s ease;
	background-color: rgb(0,0,0,0.9);
	vertical-align: center;
	font-size:13px;
	text-overflow: wrap;
	z-index: 2
}

.panes {
	height: 370px;
	overflow:hidden;
	filter:grayscale(0);
	text-align: center;
}

.panes:hover {
	transition: ease 0.5s;
	filter:grayscale(1);
}

.panes:hover .over-me {
	transition: ease 0.5s;
	opacity: 1;
}

.panes:hover .over-you {
	transition: ease 0.5s;
	opacity: 0;
}


.pro-pic {
	vertical-align: middle;
	width:300px;
	height:300px;
	margin: auto;
	background-color: black;
	border-radius: 50%;
	border: 5px solid white;
	margin-top:20%;
}

.pro-pic img{
	filter: grayscale(1);
}

.pro-text{
	align-items:center;
	text-align: center;
	margin:auto;
	color:white;
	padding:10px;
	font-size:12px;
}

.scope {
	width:100%;
	height:100%;
	overflow:hidden;
}

.space:hover .back-arrow{
	opacity:1;
	transition: ease .5s;
}

.small-text {
	padding:50px;
}


.text-box-large {
	color:white;
	margin:auto;
	overflow:wrap;
	min-width: 370px;
	max-width: 800px;
	padding: 50px;
}


.the-profile {
	margin:auto;
	align-items: center;
	color:white;
}

.windows {
	background-color: white;
}







/* 
Need to remember items:

box-shadow: 10px 10px 15px rgba(225,225,225,0.3); */
